body{
    margin:0;
    color:#444;
    background:#F0C27B;
    font:400 16px/18px Roboto, sans-serif;
}
*,:after,:before{box-sizing:border-box}
.pull-left{float:left}
.pull-right{float:right}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}

.accordion-wrap{
    display: flex;
    justify-content: center;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:15px;
    position:fixed;
    background: -webkit-linear-gradient(315deg, #305B90 0%, #305B90 30%, #529bf5 100%) fixed;
    background:-moz-linear-gradient(315deg, #305B90 0%, #305B90 30%, #529bf5 100%) fixed;
    background:-ms-linear-gradient(315deg, #305B90 0%, #305B90 30%, #529bf5 100%) fixed;
    background:-o-linear-gradient(315deg, #305B90 0%, #305B90 30%, #529bf5 100%) fixed;
    background:linear-gradient(135deg, #305B90 0%, #305B90 30%, #529bf5 100%) fixed;
}
.accordion{
    width:100%;
    margin:auto;
    max-width:640px;
    overflow:hidden;
    border-radius:5px;
    background:#FFFFFF;
    box-shadow:0 17px 50px 0 rgba(0,0,0,.19),0 12px 15px 0 rgba(0,0,0,.24);
}

.accordion .sub-nav{
    display:none;
    color:#374046;
    overflow:hidden;
    background:#ecf0f1;
}
.accordion .sub-nav.open{
    display:block;
}

.accordion .html{
    padding:15px;
}
.accordion .about-me{
    text-align:center;
    position:relative;
}
.accordion .about-me h4{
    margin-bottom:0;
}
.accordion .about-me p{
    font-size:14px;
    font-weight:300;
    margin-bottom:0;
}

.name {
    color: white;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0;
    text-shadow: 1px 1px 1px black;
}

.contact {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.social {
    height: 100%;
    width: 100%;
    max-width: 90px;
    max-height: 100px;
}

.facebook {
    fill: #3b5998;
}

.desc {
    color: white;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    margin: 0;
    text-shadow: 1px 1px 1px black;
}

.accordion .photo{
    margin:auto;
    overflow:hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 66.66666666666667%;
}

.loading {
    background: url(me.svg) no-repeat center;
}

.loaded {
    background: url(http://itamar.rocks/me.jpg) no-repeat center;
}

.accordion .about-me .photo .photo-overlay{
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
    visibility:hidden;
    position:absolute;
    background:rgba(0,0,0,.4);
}
.accordion .about-me .photo .photo-overlay .plus{
    top:50%;
    left:50%;
    width:30px;
    height:30px;
    color:#1a1a1b;
    cursor:pointer;
    font-size:24px;
    font-weight:100;
    margin-top:-15px;
    margin-left:-15px;
    position:absolute;
    line-height:30px;
    border-radius:50%;
    text-align:center;
    background:#e8d0a9;
    transform:scale(0) rotate(0);
    transition:all .1s ease-in-out 0s;
}
.accordion .about-me .photo:hover .photo-overlay{
    opacity:1;
    visibility:visible;
}
.accordion .about-me .photo:hover .photo-overlay .plus{
    transform:scale(1) rotate(90deg);
}

.accordion .about-me .social-link{
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
    padding-top:48px;
    visibility:hidden;
    position:absolute;
    background:rgba(0,0,0,.3);
    transition:opacity .5s ease-in-out 0s;
}
.accordion .about-me .social-link.active{
    opacity:1;
    visibility:visible;
}
.accordion .about-me .social-link .link{
    width:30px;
    padding:0;
    color:#eee;
    height:30px;
    margin:0 4px;
    line-height:28px;
    border-radius:50%;
    display:inline-block;
    transform:translateY(-80px) scale(0);
    border:1px solid rgba(0,0,0,.2);
}
.accordion .about-me .social-link .link-twitter{
    background:#55acce;
}
.accordion .about-me .social-link .link-codepen{
    background:#1a1a1b;
}
.accordion .about-me .social-link .link-facebook{
    background:#3b5998;
}
.accordion .about-me .social-link .link-dribbble{
    background:#ea4c89;
}
.accordion .about-me .social-link .link:hover{
    box-shadow:none;
}
.accordion .about-me .social-link.active .link{
    transform:translateY(0) scale(1);
}
.accordion .about-me .social-link.active .link:nth-child(1){
    transition-duration:.1s;
}
.accordion .about-me .social-link.active .link:nth-child(2){
    transition-duration:.2s;
}
.accordion .about-me .social-link.active .link:nth-child(3){
    transition-duration:.3s;
}
.accordion .about-me .social-link.active .link:nth-child(4){
    transition-duration:.4s;
}
.accordion .about-me .social-link.active .link:nth-child(5){
    transition-duration:5s;
}
.accordion .about-me.blur p,
.accordion .about-me.blur h4,
.accordion .about-me.blur .photo{
    -webkit-filter:blur(2px);
    filter:blur(2px);
}

.accordion .chat .user:not(:last-child){
    margin-bottom:10px;
}
.accordion .chat .user .photo{
    width:40px;
    height:40px;
    font-size:24px;
    line-height:36px;
    text-align:center;
    position:relative;
    border-radius:3px;
    display:inline-block;
    border:1px solid rgba(0,0,0,.2);
}
.accordion .chat .user .photo:before,
.accordion .chat .user .photo:after{
    content:'';
    opacity:0;
    visibility:hidden;
    position:absolute;
    transition:opacity .4s ease-in-out 0s;
}
.accordion .chat .user .photo:before{
    left:50%;
    width:60px;
    bottom:50px;
    padding:4px;
    font-size:12px;
    line-height:14px;
    margin-left:-30px;
    text-align:center;
    background:#333333;
    border-radius:4px;
    word-break:break-all;
    content:attr(data-username);
}
.accordion .chat .user .photo:after{
    left:50%;
    bottom:35px;
    margin-left:-8px;
    border:8px solid transparent;
    border-top:8px solid #333333;
}
.accordion .chat .user .photo:hover:before,
.accordion .chat .user .photo:hover:after{
    opacity:1;
    visibility:visible;
}

.accordion .chat .user.user-dribble .photo{
    color:#fff;
    margin-right:5px;
    background:#f15e95;
}
.accordion .chat .user .text-msg{
    max-width:70%;
    font-size:13px;
    padding:4px 8px;
    background:#fff;
    border-radius:4px;
    display:inline-block;
    border:1px solid #cdd6d8;
}
.accordion .chat .user.user-khadkamhn .text-msg{
    background:#dce2e4;
}

.accordion .invite{
    text-align:center;
}
.accordion .invite .dribbble{
    display:block;
    color:#c33269;
    margin:10px 0;
    font-size:24px;
    font-family:Pacifico;
}
.accordion .invite .btn{
    color:#eee;
    font-weight:500;
    background:#ccc;
    padding:10px 15px;
    border-radius:2px;
    background:#f15e95;
    display:inline-block;
    text-transform:uppercase;
}
.accordion .invite .btn:hover{
    box-shadow:none;
    background:#cb386f;
}